* {
  --main_text_color: #595A4A;
  --nav_color: #C1EABA;

  margin: 0%;
  padding: 0%;
}

body {
  color: var(--main_text_color);
  background-color: #F0E0F04F;
  height: 1200px;
}

nav, footer {
  display: flex;
  flex-direction: row;
  background-color: #C1EABA;
  height: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position:fixed;
  width: 100%
}

footer {
  bottom:0;
}

nav > * {
  padding-left: 1%;
  font-size: 2.5rem;
}

footer > * {
  padding-left: 1%;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

a {
  color: #595A4A;
  text-decoration: none;
}

img {
  max-width: 40%;
}

div.main-content {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  align-items: center;
  justify-content: center;
}

section > * {
  padding-bottom: 1%;
}