* {
  --main_text_color: #1A181B;
  --nav_color: #BEE5BF;
  --background_color: #68696310;
  --background_color_full: #686963FF;
  --hover_color: #437C90;

  --nav_height: 6rem;
  --nav_height_tablet: 4.5rem;

  margin: 0%;
  padding: 0%;
}

body {
  color: var(--main_text_color);
  background-color: var(--background_color);
}

nav, footer {
  display: flex;
  flex-direction: row;
  background-color: var(--nav_color);
  height: var(--nav_height);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position:fixed;
  width: 100%
}

nav > * {
  padding-left: 1.5rem;
  font-size: 2.5rem;
}

footer {
  bottom:0;
}

footer > * {
  padding-left: 1%;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

a {
  color: var(--main_text_color);
  text-decoration: none;
}

a:hover {
  color: var(--hover_color);
}

img {
  max-width: 40%;
  max-height: 20%;
}

div.main-content {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: center;
  justify-content: space-around;
  padding-top: 10%; 
}

section > * {
  margin-bottom: 6%;
}

.main-text {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

h1 {
  font-size: 16rem;
  font-weight: 900;
  margin-bottom: 0%;
  text-shadow: 0.7rem .5rem 2px #BEE5BF;
}

hr {
  max-width: 100%;
}

.headHomeButton {
  display: inline-block;
  background-color: var(--nav_color);
  border: var(--main_text_color) solid 3px;
  border-radius: 8px;
  padding: 2%;
  width: 50%;
  align-items: center;
  font-weight: 500;
  font-style: italic;
}

.headHomeButton:hover {
  background-color: var(--main_text_color);
}

@media screen and (max-width: 768px){
  .main-content {
    flex-direction: column !important;
  }

  h1 {
    font-size: 10rem;
  }

  img {
    max-width: 55%;
    max-height: 25rem;
    padding-top: 2rem;
  }

  .main-text {
    align-items: center;
    text-align: center;
    padding: inherit 2%;
  }

  h3 {
    margin: 6% 3%;
  }

  nav, footer {
    height: var(--nav_height_tablet)
  }
}